@import "../../../styles/partials";

.liContainer {
  list-style: none;
  margin: 0 auto;
}

.goBackBtn {
  width: 100px;
  height: 25px;
  background-color: transparent;
  position: relative;
  top: 10px;
  left: 15px;
}

.newProduct {
  font-family: $manrope;
  font-weight: $fontreg;
  text-transform: uppercase;
  color: $darkorange;
  letter-spacing: 14px;
  margin-top: 1rem;
}

.liContainer h1 {
  font-family: $manrope;
  font-weight: $fontbold;
  font-size: 28px;
  letter-spacing: 1px;
  width: 327px;
  text-transform: uppercase;
  margin-top: 2rem;
}

.liContainer p {
  font-family: $manrope;
  font-weight: $fontmed;
  font-size: 15px;
  line-height: 25px;
  width: 327px;
}

.featuresBox {
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: space-around;
  @include tablet {
    height: 375px;
  }
}

.featuresBox h2 {
  font-family: $manrope;
  font-weight: $fontbold;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 0.86px;
  line-height: 48px;
}

.featuresBox p {
  font-family: $manrope;
  font-weight: $fontreg;
  font-size: 15px;
  @include tablet {
    width: 689px;
  }
}

.inTheBox {
  width: 327px;
  height: 217px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-evenly;
  @include tablet {
    width: 689px;
    align-items: unset;
    justify-content: unset;
    flex-direction: unset;
    justify-content: space-between;
  }
}

.inTheBox h2 {
  font-family: $manrope;
  font-weight: $fontbold;
  font-size: 24px;
  text-transform: uppercase;
}

.imgBox {
  @include tablet {
    display: flex;
  }
}

.imgBoxTablet {
  display: flex;
  flex-direction: column;
}

.productBox {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  height: 375px;
  justify-content: space-between;
}

.price {
  font-family: $manrope;
  font-weight: $fontbold;
  font-size: 18px;
}

.addToCart {
  width: 160px;
  height: 48px;
  background-color: $darkorange;
  color: white;
  font-family: $manrope;
  font-weight: $fontbold;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba($color: #000000, $alpha: 1);
}

.addToCart:hover {
  background-color: $black;
  transform: scale(1.1);
}

.addToCart:active {
  transform: scale(0.9);
}

.quantityBtn {
  width: 160px;
  height: 48px;
  background-color: #f2f2f2;
  color: white;
  font-family: $manrope;
  text-transform: uppercase;
  border: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 5px 5px 5px rgba($color: #000000, $alpha: 1);
}

.quantityBtn span {
  color: black;
  font-family: $manrope;
  font-weight: $fontbold;
}

.btnBox {
  display: flex;
  width: 350px;
  justify-content: space-between;
}

.mayLikeBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.mayLikeBox ul {
  @include tablet {
    display: flex;
    justify-content: space-between;
    width: 689px;
    margin-top: 2rem;
  }
}
