@import "../../../styles/partials";

.liBox {
  list-style: none;
  width: 365px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.liBox p {
  font-family: $manrope;
  font-weight: $fontmed;
  font-size: 15px;
}

.liBox span {
  font-family: $manrope;
  font-size: $fontbold;
  font-size: 15px;
  color: $darkorange;
}
