@import "../../../styles/partials";

.li {
  list-style: none;
  display: flex;
  width: 275px;
  height: 50px;
  justify-content: space-between;
  align-items: baseline;
  font-family: $manrope;
  margin: 0 auto;
  margin-bottom: 1rem;
  @include tablet {
    width: 500px;
  }
}

.innerBox {
  display: flex;
  flex-direction: column;
  height: 50px;
  justify-content: space-around;
}
