@import "../../../styles/partials";

.section {
  width: 327px;
  height: 698px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
}

.imgBox {
  @include mobile {
    width: 327px;
  }
  @include tablet {
    display: none;
  }
}

.imgBoxTablet {
  display: none;
  @include tablet {
    display: flex;
    width: 689px;
  }
  @include desktop {
    display: none;
  }
}

.imgBoxDesktop {
  display: none;
  @include desktop {
    display: flex;
    width: 500px;
    height: 500px;
    border-radius: 15px;
  }
}

.img {
  @include tablet {
    width: 669px;
  }
}

.section h1 {
  font-family: $manrope;
  font-weight: $fontbold;
  font-size: 28px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  @include tablet {
    width: 573px;
    font-size: 40px;
  }
}

.section p {
  font-family: $manrope;
  font-weight: $fontmed;
  text-align: center;
  width: 327px;
  font-size: 15px;
  line-height: 25px;
  @include tablet {
    width: 573px;
    margin-top: 1rem;
  }
}

.section span {
  color: $darkorange;
}

@media (min-width: 1440px) {
  .section {
    width: 1330px;
    flex-direction: row-reverse;
  }

  .section h1 {
    text-align: left;
    font-size: 40px;
    width: 400px;
  }
  .section p {
    text-align: left;
    width: 445px;
  }

  .imgDesktop {
    border-radius: 15px;
  }
}
