@import "../../../styles/partials";

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 424px;
  margin-top: 2rem;
}

.divOne {
  @include mobile {
    width: 327px;
    height: 200px;
    background-image: url("../../../assets/product-yx1-earphones/mobile/image-gallery-2.jpg");
    background-repeat: no-repeat;
    background-position: 40% center;
    background-size: 30rem;
    border-radius: 25px;
  }
  @include desktop {
    background-image: url("../../../assets/product-yx1-earphones/desktop/image-gallery-2.jpg");
  }
}

.divTwo {
  margin-top: 2rem;
  border-radius: 25px;
  width: 327px;
  height: 200px;
  background-color: $gray;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-evenly;
}

.divTwo h1 {
  font-family: $manrope;
  font-weight: $fontbold;
  letter-spacing: 2px;
  font-size: 28px;
  position: relative;
  left: 10px;
}

.divTwo button {
  width: 160px;
  height: 48px;
  font-family: $manrope;
  font-weight: $fontbold;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  left: 10px;
  background-color: transparent;
  transition: background-color 0.5s ease-in-out;
  cursor: pointer;
}

.divTwo button:hover {
  background-color: black;
  color: white;
}

@media (min-width: 768px) {
  .section {
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    width: 689px;
  }

  .divOne {
    width: 330px;
    height: 300px;
    border-radius: unset;
  }

  .divTwo {
    width: 330px;
    height: 256px;
    border-radius: unset;
    margin-top: unset;
  }
}

@media (min-width: 1440px) {
  .section {
    flex-direction: row;
    width: 1100px;
    justify-content: space-between;
  }

  .divTwo {
    width: 500px;
    height: 300px;
    border-radius: 18px;
  }

  .divOne {
    width: 500px;
    background-size: 40rem;
    border-radius: 18px;
  }

  .divTwo h1 {
    margin-left: 2rem;
  }

  .divTwo button {
    margin-left: 2rem;
  }
}
