@import "../../../styles/partials";

.heroHome {
  background-image: url("../../../assets/home/mobile/image-header.jpg");
  background-repeat: no-repeat;
  background-position: 50% 85%;
  background-size: cover;
  width: 100vw;
  background-color: $black;
  height: 515px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  @include tablet {
    background-image: url("../../../assets/home/tablet/image-header.jpg");
    background-position: 50% 65%;
  }
  @include desktop {
    background-image: url("../../../assets/home/desktop/image-hero.jpg");
    background-position: 50% 85%;
    background-size: cover;
    align-items: baseline;
    height: 600px;
  }
}

.textBox {
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 12rem;
  @include desktop {
    left: 85px;
    align-items: baseline;
    text-align: unset;
  }
}

.heroHome h2 {
  font-family: $manrope;
  font-weight: $fontreg;
  font-size: 14px;
  letter-spacing: 10px;
  color: $lightgray;
  text-transform: uppercase;
}

.heroHome h1 {
  font-family: $manrope;
  font-weight: $fontbold;
  font-size: 36px;
  color: white;
  @include tablet {
    font-size: 56px;
    width: 396px;
  }
}

.heroHome p {
  font-family: $manrope;
  font-weight: $fontmed;
  font-size: 15px;
  line-height: 25px;
  color: $lightgray;
  width: 328px;
  @include tablet {
    width: 375px;
  }
}

.heroHome button {
  width: 160px;
  height: 48px;
  background-color: $darkorange;
  color: white;
  outline: none;
  border: none;
  text-transform: uppercase;
  font-family: $manrope;
  letter-spacing: 2px;
  cursor: pointer;
}

.heroHome button:hover {
  background-color: $lightorange;
}
