@import "../../../styles/partials";

.section {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  background-image: url("../../../assets/home/mobile/image-speaker-zx7.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20rem;
  width: 327px;
  height: 320px;
  border-radius: 25px;
  margin: 0 auto;
  margin-top: 1rem;
}

.section h1 {
  font-family: $manrope;
  font-weight: $fontbold;
  letter-spacing: 2px;
  font-size: 28px;
}

.section button {
  width: 160px;
  height: 48px;
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}

.section button:hover {
  background-color: black;
  color: white;
}

.section div {
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-evenly;
  position: relative;
  left: 20px;
  @include desktop {
    left: 100px;
  }
}

@media (min-width: 768px) {
  .section {
    width: 689px;
    background-position: 400% 83%;
    background-size: 43rem;
  }
}

@media (min-width: 1440px) {
  .section {
    width: 1120px;
    background-size: 70rem;
  }
}
