.logo {
  position: relative;
  bottom: 3px;
  left: 25px;
  cursor: pointer;
  z-index: 100;
}

@media (min-width: 768px) {
  .logo {
    left: 20%;
  }
}

@media (min-width: 1440px) {
  .logo {
    left: -10%;
  }
}
