@import "../../../styles/partials";

.header {
  background-color: $black;
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.headphonesHeader {
  width: 100vw;
  height: 50px;
  background-color: $black;
  color: white;
  font-family: $manrope;
  font-weight: $fontbold;
  text-transform: uppercase;
  text-align: center;
  font-size: 28px;
  margin: 0 auto;
}

.speakersHeader {
  width: 100vw;
  height: 50px;
  background-color: $black;
  color: white;
  font-family: $manrope;
  font-weight: $fontbold;
  text-transform: uppercase;
  text-align: center;
  font-size: 28px;
  margin: 0 auto;
}

.earphonesHeader {
  width: 100vw;
  height: 50px;
  background-color: $black;
  color: white;
  font-family: $manrope;
  font-weight: $fontbold;
  text-transform: uppercase;
  text-align: center;
  font-size: 28px;
  margin: 0 auto;
}
