@import "../../../styles/partials";

@media (max-width: 1439px) {
  .nav {
    display: none;
  }
}

@media (min-width: 1440px) {
  .nav ul {
    display: flex;
    width: 60vw;
    justify-content: space-evenly;
  }

  .nav ul li {
    color: white;
    font-family: $manrope;
    font-weight: $fontbold;
    text-transform: uppercase;
    list-style: none;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
  }

  .nav ul li:hover {
    color: $darkorange;
  }
}
