@import "../../../styles/partials";

.footerLogo {
  @include tablet {
    position: absolute;
    top: 50px;
    left: 45px;
  }
  @include desktop {
    left: 75px;
    bottom: 40px;
    right: 595px;
  }
}
