@import "../../../styles/partials";

.footerLogo {
  @include tablet {
    position: relative;
    right: 265px;
    bottom: 25px;
  }
  @include desktop {
    left: 75px;
    bottom: 40px;
    right: 595px;
  }
}
